{% extends 'base.html.twig' %}

{% block title %}Pointages index{% endblock %}

{% block body %}
    <h2 class="m-3">Pointages</h2>

    <div class="card">
        <div class="card-header">
            <h4> Listes des pointages</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-responsive-sm  ">
                <thead>
                <tr class="table-light">
                    <th>Utilisateur</th>
                    <th>Chantier</th>
                    <th>Date</th>
                    <th>Durée</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for pointage in pointages %}
                    <tr>
                        <td>{{ pointage.utilisateur.nom}}</td>
                        <td>{{ pointage.chantier.nom }}</td>
                        <td>{{ pointage.date|date('d-m-Y')}}</td>
                        <td>{{ pointage.duree }}</td>
                        <td class="d-flex justify-content-center">
                            <button class="btn">
                                <a title="Éditer" href="{{ path('app_pointages_edit', {'id': pointage.id}) }}">
                                    <i class="fa-solid fa-pen-to-square text-warning"></i>
                                </a>
                            </button>
                            {{ include('pointages/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center" colspan="5">Aucun résultat trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="card-footer d-flex justify-content-center">
            <a href="{{ path('app_pointages_new') }}">
                <button type="button" class="btn btn-success">Créer un pointage</button>
            </a>
        </div>
    </div>
{% endblock %}
